<!-- <app-header
  [background]="'light-gray'"
  [type]="'horizontal'"
  [elevation]="true"
  [stackable]="true"
>
  <header style="cursor: pointer;">
    <img
      src="https://learningace.github.io/app/assets/logo4.png"
      alt="LearningAce logo"
      width="150px"
      style="margin-right: 20px"
      style="padding-left: 10px"
    />
  </header>
   <a class="ui-button" routerLink="/course">Back to courses</a>
</app-header>
<div class="ui-container" style="display: flex;flex-direction: row; justify-content: space-around;">
  <div
    routerLink="add"
    style="width: 350px; height: 300px; margin-top: 20px;cursor: pointer;" 
    class="ui-card-4 d-flex justify-content-center box">
    <span 
      style="font-size:5em;
      color: lightblue;
      text-align: center;"
      class="glyphicon glyphicon-plus"></span>
    <label>Add a course</label>
    
  </div>
  <div
    (click)="openDialog()"
    style="width: 350px; height: 300px; margin-top: 20px;cursor: pointer;" 
    class="ui-card-4 d-flex justify-content-center box">
    <span 
      style="font-size:5em;
      color: lightblue;
      text-align: center;"
      class="glyphicon glyphicon-plus"></span>
    <label>Get Photos</label>
    
  </div>
</div> -->

<h1>Works</h1>