<div class="container">
  <button
    class="button button-clear m-0 font-large p-0"
    (click)="onTakeMeBack()"
  >
    <i class="fas fa-arrow-left mr-2 fa-1x"></i>Back To Dashboard
  </button>
</div>
<br><br>
<div class="d-flex justify-content-center" style="width: 100%">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style="text-align: center;">Give Your Course a name</h1>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="form-style">
          <div class="group">
            <input type="text" name="email" required #courseName/>
            <label for="name">
              <i class="fas fa-file-alt mr-2"></i> Course Name</label
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="helper-text"> This Will Be Your Course's Title </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="button" (click)='onCreateCourse(courseName)'>Create Course</button>
      </div>
    </div>
  </div>
</div>
