<ngx-spinner 
    bdColor = "rgba(255,255,255,1)" 
    size = "large" 
    color = "#000000" 
    type = "ball-climbing-dot" 
    [fullScreen] = "true">
    <h6 style="color: black;"> Loading...</h6>
</ngx-spinner>
<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="color-grad">
    <mat-card 
        class="form-card" 
        @todoAnimation  
        fxFlex="33%" 
        fxFlex.sm="60%" 
        fxFlex.md="50%" 
        fxFlex.xs="100%" 
        ngClass.gt-xs="mat-elevation-z6" 
        ngClass.xs="mat-elevation-z0">
      <mat-card-header >
        <mat-card-title class="font-pacifico">
          <a routerLink="/"> LearningAce</a>
        </mat-card-title>
        <mat-card-title class="font-noto">Create An Account</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <form 
          (ngSubmit)="signup(SUform)" 
          #SUform = ngForm
          [style.fontSize.px]="16">
          <mat-form-field 
            class="w-100" 
            appearance="outline">
            <mat-icon @slide matPrefix>email</mat-icon>
            <mat-label>Enter Your Email</mat-label>
            <input matInput class="form-field" 
              type="email"
              name="email" 
              required
              ngModel
              #email="ngModel"
              email>
            <mat-error *ngIf="email.touched && email.errors?.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="email.touched && email.errors?.email">
              Please enter a valid Email address
            </mat-error>
          </mat-form-field>
          
          <mat-form-field 
            class="w-100" 
            appearance="outline" >
            <mat-label>Enter Your Password</mat-label>
            <mat-icon @slide matPrefix>vpn_key</mat-icon>
            <input matInput class="form-field" 
              required
              name="password" 
              [type]="hide ? 'password' : 'text'"
              ngModel
              #password="ngModel"
              minlength="6">
              <mat-error *ngIf="password.touched && password.errors?.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.touched && password.errors?.minlength">
                Password should be atleast 6 characters
              </mat-error>
          </mat-form-field>

          <mat-checkbox class="ml-1" 
            (change)="hide = !hide"
            [disabled]="password.invalid">
            Show Password
          </mat-checkbox>
        <hr>      
          <mat-card-actions 
            fxLayout="row" 
            fxLayoutAlign="space-around">
  
            <button mat-flat-button
              fxFlexOrder="0"
              class="text-center"
              type="button"
              (click)="onSwitch()"
              title="Click here to goto login page">
             Already Have an Account
            </button> 
  
            <button mat-raised-button 
              style="margin-left: 0px; margin-right: 0px;"
              fxFlexOrder="1"
              class="text-center"
              color="primary" 
              type="submit"
              [disabled]="SUform.invalid"
              [title]="'Your form is ' +  SUform.status | titlecase"
              matRipple>
              Create Account
            </button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>