<div class="container">
  <h1 class="font-montserrat w-100 text-center">Create an assesment</h1>
  <div class="row">
    <button class="button button-clear" (click)="onCreateAssesment()">
      Create an assesment
    </button>
    <button class="button button-clear" (click)="onFormCreate()">
      Create an assesment new way
    </button>
  </div><br>
  <h1 class="font-montserrat w-100 text-center">All Assements</h1>
  <div class="row">
    <div class="col-lg-3 col-md-4" *ngFor="let item of assessmentList">
      <div
        class="intro-card height-small box-shadow-4"
        (click)="onFormEdit(item.metadata[0].formId)"
      >
        <div class="font-xx-large form-title font-montserrat">
            {{ item.metadata[0].title }}

        </div>
        <div class="p-1 intro-card-footer">
          <div class="last-opened font-smaller display-inline-block">
            Created On {{ item.metadata[0].dateCreated  }}<br>
            <button class="button button-clear delete-btn" 
              (click)='OnDelteForm(item.metadata[0].formId,$event,item.metadata[0].title)'>
              <i class="fas fa-trash-alt"></i>
            </button>
            
          </div>
        </div>
      </div>
    </div><br>
    <div *ngIf='noData' 
      style="width: 100%;opacity: 0.4; text-align: center; color: red;">
      <h2>No Assessment Created Yet</h2>
    </div>
  </div>
</div>
