<div class="container">
  <h1 class="font-montserrat w-100 text-center">Create an assesment</h1>
  <div class="row">
    <button class="button button-clear" (click)="onCreateAssesment()">
      Create an assesment
    </button>
  </div>
  <h1 class="font-montserrat w-100 text-center">All Assements</h1>
  <div class="row">
    <div class="col-lg-3">
      <div class="intro-card height-small box-shadow-4" (click)='onFormEdit()'>
        <div class="form-thumbnail"></div>
        <div class="p-1 intro-card-footer">
          <div class="title">Maths Assesment</div>
          <div class="last-opened font-x-smaller display-inline-block">
            Opened 24-02-2021 at 8:45 PM
          </div>
          <div class="menu display-inline-block">
            <button class="button button-clear">M</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
