<ng-container *ngIf="dataLoaded">
  {{ other }}
  <div
    class="choice-group"
    class="d-flex justify-content-center m-2"
    *ngFor="let option of myQuestionData.options; index as i; trackBy: identify"
  >
    <div class="choice-icon">
      <img
        *ngIf="choiceType === 'MCQ'"
        width="20px"
        src="https://img.icons8.com/material/48/000000/unchecked-radio-button--v2.png"
      />
      <i
        *ngIf="choiceType === 'CHK'"
        class="far fa-check-square font-x-large"
      ></i>
      <i
        *ngIf="choiceType === 'DRD'"
        class="fas fa-chevron-circle-down font-x-large"
      ></i>
    </div>

    <input
      type="text"
      class="text-input font-large font-rubik"
      #inputVar
      [value]="option.optionValue"
      (input)="checkIfDuplicate(inputVar,option.optionId,$event)"
    />

     <div class='correct-icon' (click)='onUpdateMeAsCorrect(inputVar)'>
      <i class="fas fa-check-circle font-x-large mr-2" 
        [ngClass]="{'color-green': option.optionValue == correctValue}"></i>
     </div> 
    <div class="close-icon" (click)="deleteOption(i)" *ngIf="showDelete">
      <i class="fas fa-times font-x-large" ></i>
    </div>

  </div>
  <button class="button button-clear add-option" (click)="addOption()" *ngIf='!hideAddOption' [disabled]='optionEmpty'>
    Add Option
  </button>
  <small *ngIf='hideAddOption' style="color: red;">Duplicate Options Found</small>
  <small *ngIf='optionEmpty' style="color: red;">Option Can't be empty</small>
</ng-container>
