input[type='text'].text-input{
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(104, 58, 183, 0);
  border-bottom-width:2px;
  transition: all 0.7s linear;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

}
input[type='text'].text-input:focus{
  outline: none;
  border-bottom: 2px solid rgb(104, 58, 183);
  border-bottom-width: 100%;
}
.a-block{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.onFocus{
  border-left: 6px solid #4285f4;
}
.top-stripe{
  border-top: 6px solid rgb(104, 58, 183) !important;
}