<div *ngIf="dataLoaded">
  <br />
  <div class="container">
    <div
      class="assesment-header a-block top-stripe"
      [ngClass]="{ onFocus: isSelected }"
    >
      <div class="assesment-title">
        <input
          type="text"
          name="assesment-title"
          class="assesment-text-input font-montserrat font-xx-large"
          value="{{ metadata.title }}"
          #inputElement
          (focus)="OnInputFocus(inputElement)"
          (blur)="onFocusLeave()"
        />
      </div>
      <div class="assesment-description">
        <input
          type="text"
          name="assesment-title"
          class="assesment-text-input font-montserrat font-medium"
          placeholder="Assesment Description"
          value="{{ metadata.description }}"
          #inputElement2
          (focus)="OnInputFocus(inputElement2)"
          (blur)="onFocusLeave()"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ng-template #QuestionBlockContainer></ng-template>
</div>

<div class="footer-toolbar fixed" *ngIf="dataLoaded">
  <table>
    <tr>
      <td>
        <button class="button button-clear" (click)="AddQuestion()">
          Add a Question
        </button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf='!formData' class="font-montserrat font-xx-large" 
  style="background-color: lavender; padding: 20px;color: red; width: 100%; text-align: center;">
  Oops!! seems like there is no data associated with this form. It may be have been removed
  <br><br>
  <button class="button button-clear font-large" (click)='onTakeMeBack()'>Take Me Back</button>
</div>