<mat-toolbar color="primary" class="fixed">
    <mat-toolbar-row>
      <a routerLink="/" class="font-pacifico-white">
        <span style="font-size: xx-large; padding: 15px;">LearningAce </span> 
      </a>|
      <span class="mr-3"></span>
      <div fxHide.lt-sm fxHide.sm>
        <a mat-button 
            class="hoverEffect"
            [routerLink]="'/home'"
            routerLinkActive="active">
            <mat-icon class="mr-2">view_list</mat-icon> 
            View 
        </a>
        <a mat-button 
            class="hoverEffect"
            [routerLink]="'/new'"
            routerLinkActive="active"> 
            <mat-icon class="mr-2">add_box</mat-icon> 
            Add 
        </a>
        <a mat-button 
            class="hoverEffect"
            [routerLink]="'#'"
            routerLinkActive="active"> 
            <mat-icon class="mr-2">create</mat-icon> 
            Edit 
        </a>
        <a mat-button 
            class="hoverEffect"
            [routerLink]="'#'"
            routerLinkActive="active"> 
            <mat-icon class="mr-2">delete</mat-icon> 
            Delete 
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
