<!-- <app-header
  [background]="'light-gray'"
  [type]="'horizontal'"
  [elevation]="true"
  [stackable]="true"
>
  <header>
    <img
      src="https://learningace.github.io/app/assets/logo4.png"
      alt="LearningAce logo"
      width="150px"
      style="margin-right: 20px"
      style="padding-left: 10px"
    />
  </header>

  <a
    routerLink="/"
    routerLinkActive=" ui-border-blue ui-bottombar"
    class="ui-button"
    [routerLinkActiveOptions]="{ exact: true }">
    Home
  </a>
  <a routerLink="/docs" 
    routerLinkActive="ui-border-blue ui-bottombar"
    class="ui-button">
    Documentation
  </a>
  <a routerLink="/join" 
    routerLinkActive="ui-border-blue ui-bottombar"
    class="ui-button">
    Login
  </a>
  <a routerLink="/lecture" 
    routerLinkActive="ui-border-blue ui-bottombar"
    class="ui-button">
    Lecture
  </a>
  <a routerLink="/course" 
    routerLinkActive="ui-border-blue ui-bottombar"
    class="ui-button">
    Course
  </a>
  <a routerLink="/instructor" 
    routerLinkActive="ui-border-blue ui-bottombar"
    class="ui-button">
    Instructor
  </a>
</app-header> -->
<header>
  <nav id="sc2">
    <ul>
      <label class="checkbox-label" for="toggle" title="Click to view">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="toggle" class="visually-hidden" />
      <li class="logo">
        <img
          [src]="assestUrl + 'logo.png'"
          alt="LearningAce logo"
          width="150px"
        />
      </li>
      <li class="nav-item active">
        <a
          routerLink="/"
          title="Home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="fas fa-home mr-2"></span>Home
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLink="/join" 
          title="Login"
          routerLinkActive="active">
          <span class="fas fa-sign-in-alt mr-2"></span>Login
        </a>
      </li>
      <li class="nav-item">
        <a href="#" title="Home">
          <span class="fas fa-book mr-2"></span>Docs
        </a>
      </li>
      <li class="nav-item">
        <a href="#" title="Home">
          <span class="fas fa-user-plus mr-2"></span>Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>

<div data-aos="zoom-in-down" data-aos-delay="500">
  <div class="bgimg-1">
    <div data-aos="fade-left" data-aos-delay="800" class="caption">
      Unified Solution for online education
    </div>
  </div>
</div>

<!-- <div class="container-fluid"> -->
  <div class="row no-gutters">
    <div class="col-xl-6">
  
        <div
          data-aos="zoom-in-down"
          data-aos-duration="1000"
          class="intro-card box-shadow-2"
        >
          <div class="intro-card-title">
            <div class="card-icon">
              <img
                style="width: 3rem; margin-right: 20px"
                src="https://img.icons8.com/metro/26/000000/overview-pages-2.png"
              />
            </div>
            Overview
          </div>
          <div class="intro-card-body">
            <p>
              LearningAce, is a unified platfrom for delivering online course
              and distance education. It facilitates all the needs of the online
              learning community and benefits the teachers as well as students
              by bringing them on a common platform, thereby bringing unified
              learning at your convenience. LearningAce is driven by a concept
              of Dashboards for all the stakeholders in order to facilitate the
              e-Learning process. A one-stop view to all the important
              parameters a user needs to have an insight of are available as
              soon as they log into the application.
            </p>
          </div>
        </div>
      </div>
    <div class="col-xl-6">
  
        <div
          data-aos="zoom-in-down"
          data-aos-duration="1000"
          class="intro-card box-shadow-2"
        >
          <div class="intro-card-title">
            <div class="card-icon">
              <img
                style="width: 3rem; margin-right: 20px"
                src="https://img.icons8.com/ios-filled/50/000000/features-list.png"
              />
            </div>
            Highlights
          </div>
          <div class="intro-card-body">
            <ul>
              <li class="list-item">Dashboards for all users</li>
              <li class="list-item">Anywhere, anytime access to content</li>
              <li class="list-item">Self-paced, Interactive learning</li>
              <li class="list-item">
                Customized reports and progress indicators
              </li>
              <li class="list-item">
                Responsive design for ease of viewing across devices
              </li>
              <li class="list-item">Create question banks & assessments</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!-- </div> -->

<!-- <div class="container-fluid"> -->
    <div
      data-aos="zoom-in-down"
      data-aos-duration="1000"
      class="intro-card box-shadow-2"
    >
      <div class="intro-card-title">
        <div class="card-icon">
          <img
            class="card-icon"
            style="width: 3rem; margin-right: 20px"
            src="https://img.icons8.com/material/24/000000/dashboard-layout.png"
          />
        </div>
        What Our Dashboards provide
      </div>
      <button
        [ngClass]="{ selected: isSelected == 1 }"
        type="button"
        class="button m-2"
        (click)="onOpenTab(1)"
      >
        For Instructor
      </button>
      <button
        type="button"
        [ngClass]="{ selected: isSelected == 2 }"
        class="button m-2"
        (click)="onOpenTab(2)"
      >
        For Student
      </button>
      <div class="intro-card-body" [innerHTML]="tabContent"></div>
    </div>
<!-- </div> -->
<!-- <div class="container-fluid"> -->
  <footer>
    <div class="footer">
      <div class="footer-text">Developed By learningAce Team</div>
    </div>
  </footer>
<!-- </div> -->
