<!-- <div class="container">
  <h1 class="font-pacifico" 
    style="font-size: 60px; padding: 20px;">
    LearningAce
  </h1>
  <a mat-flat-button routerLink="/login" 
    class="text-primary"
    style="text-decoration: none; font-size: large;">
    Login
  </a> |
  <a mat-flat-button routerLink="/signup"
    class="text-primary" 
    style="text-decoration: none; font-size: large;">
    Sign Up
  </a>  |
  <a mat-flat-button routerLink="/student/view/profile"
  class="text-primary" 
  style="text-decoration: none; font-size: large;">
  Student Profile
</a> |
<a mat-flat-button routerLink="/signup/success/welcome"
  class="text-primary" 
  style="text-decoration: none; font-size: large;">
  Sign Up Success
</a> 
</div> -->

<mat-toolbar color="primary" class="fixed" class="mat-elevation-z4  ">
  <mat-toolbar-row>
    <a routerLink="/" #l class="font-pacifico-white no-hover-effect" (mouseover)="log(l)">
      
      <span style="font-size: xx-large; padding: 15px;">LearningAce </span> 
    </a>|
    <span class="mr-3"></span>
    <div fxHide.lt-xs fxHide.xs
      fxLayout="row" 
      fxLayoutAlign="space-around"
      style="clear: both;"
      class="w-100">
      <mat-form-field 
        class="w-50 p-1"
        [style.fontSize.px]="16" 
        appearance="standard">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput
          type="text"
          name="search" 
          ngModel
          placeholder="Search for anything"
          #search="ngModel">
      </mat-form-field>
      <div
        fxLayoutAlign="center center">
        <a mat-button
        class="no-hover-effect"
        #link1
        (mouseover)="onHover(link1)"
        (mouseout)="onHoverLeave(link1)"
        [routerLink]="'/login'">
        <mat-icon class="mr-1">account_box</mat-icon> 
        Login 
      </a>
      <a mat-button
        #link2
        class="no-hover-effect"
        (mouseover)="onHover(link2)"
        (mouseout)="onHoverLeave(link2)" 
        [routerLink]="'/signup'"> 
        <mat-icon class="mr-1">person_add</mat-icon> 
        Sign Up
      </a>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxHide.gt-sm fxShow.sm>sjdbfksjbdfkjbsdkfjb</mat-toolbar-row>
</mat-toolbar>

